parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - resources
        - routes
        - tests
    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - app/Http/Kernel.php (?)
        - app/Providers/AppServiceProvider.php
        - app/Providers/AuthServiceProvider.php (?)
        - app/Providers/EventServiceProvider.php (?)
        - app/Providers/RouteServiceProvider.php (?)
    ignoreErrors:
        - '#Function createUser\(\) has parameter \\$attributes with no value type specified in iterable type array#'
        - '#Function createUsers\(\) has parameter \\$attributes with no value type specified in iterable type array#'
