parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - resources
        - routes
        - tests
    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - app/Http/Kernel.php (?)
        - app/Providers/AppServiceProvider.php
        - app/Providers/AuthServiceProvider.php (?)
        - app/Providers/EventServiceProvider.php (?)
        - app/Providers/RouteServiceProvider.php (?)
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Hash::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Http::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Lang::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Log::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Mail::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Notification::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Queue::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Redis::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Storage::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\URL::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Validator::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\View::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\DB::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Cache::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Config::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Cookie::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Crypt::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Date::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Event::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\File::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Gate::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Password::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Process::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\RateLimiter::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Redirect::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Request::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Response::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Route::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Schema::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Session::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Str::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Vite::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Artisan::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Blade::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Broadcast::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Bus::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\DB::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Eloquent::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Fluent::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Form::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Html::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Input::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\JWTAuth::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\JWTFactory::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Password::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Queue::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Redis::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Schema::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Socialite::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\SSH::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Table::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Throttle::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Toastr::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Uuid::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Vite::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Zipper::#' 