parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - resources
        - routes
        - tests
    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - app/Http/Kernel.php (?)
        - app/Providers/AppServiceProvider.php
        - app/Providers/AuthServiceProvider.php (?)
        - app/Providers/EventServiceProvider.php (?)
        - app/Providers/RouteServiceProvider.php (?)
    ignoreErrors:
        # Pest test issues
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::get\(\)#'
        - '#Access to an undefined property Pest\\Mixins\\Expectation<.*>::\$not#'
        - '#Function createUser\(\) should return App\\Models\\User but returns#'
        - '#Function createUsers\(\) return type with generic class#'
        - '#Function createUsers\(\) should return Illuminate\\Database\\Eloquent\\Collection#'
        
        # Route issues
        - '#Call to an undefined method Illuminate\\Redis\\Connections\\Connection::ping\(\)#'
        - '#Ternary operator condition is always true#'
